# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
*.tfvars
!example.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
crash.log
crash.*.log

# Kubernetes files
kubeconfig
.kube/
*.kubeconfig

# Local development files
.env
.envrc
.vscode/
.idea/
*.swp
*.swo

dotenv.tf
thirdpartyauth.dotenv.tf
kong.yml

# OS specific files
.DS_Store
Thumbs.db

*.crt
*.key
*.pem